.main-header-container {
  width: 90%;
  height: 60vh;
  background-color: yellow;
  border-radius: 50px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-text {
  width: 45%;
  flex-direction: column;
  padding-left: 3rem;
  line-height: 1.2;
}

.header-text h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.header-text p {
  margin-top: -40px;
}

.header-text button {
  width: 200px;
  padding: 20px 10px;
  background-color: brown;
  border-radius: 35px;
  color: antiquewhite;
}

.header-img {
  width: 45%;
}
