
.modal {
    position: fixed;
    top: 20vh;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 1101;
    animation: slide-down 300ms ease-out forwards;

    button[type="close"] {
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: unset;
        border: unset;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.modal {
    display: flex;
    .img-wrap {
        flex-basis: 40%;
        min-width: 40%;
    }
    .meta {
        flex-grow: 60%;
        h3 {
            margin-top: 12px;
            margin-bottom: 4px;
            opacity: 0.8;
        }
        p {
            font-weight: 300;
            color: grey;
            font-family: Roboto;
            font-size: 14px;
        }
    }

    button.cart-add {
        border-radius: 0px;
    }
    
    .cart-addon {
        justify-content: space-between;
    }
}
