.navbar {
  width: 100%;
  height: 80px;
  font-weight: var(--font-light);
  background: transparent;
  /* background-color: yellow; */
}

.nav-icon {
  width: 20%;
  text-align: center;
}

.nav-menu {
  width: 100%;
  /* background-color: pink; */
}

.nav-list {
  /* background-color: blue; */
  width: 40%;
  height: 100%;
  align-items: center;
}
.nav-item {
  /* background-color: orange; */
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: black;
}

.nav-btn {
  /* background-color: green; */
  width: 19%;
  height: 100%;
}
