.input-wrapper {
  /* background-color: black; */
  width: 100%;
  height: 2.5rem;
  padding: 0px 15px;
  box-shadow: 0px 0px 5px #797979;
  display: flex;
  align-items: center;
}

.input-wrapper input {
  background: transparent;
  border: none;
  height: 100%;
  outline: none;
  width: 100%;
}

#input-icon {
  cursor: pointer;
  color: salmon;
}

.search-items {
  width: auto;
  height: auto;
  background-color: orange;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 2em;
}
.wrapper {
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
}
