@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --font-lightest: 100;
  --font-lighter: 200;
  --font-light: 300;
  --font-medium: 400;
  --font-semi-bold: 500;
  --font-bold: 600;
  --font-bolder: 700;
  --font-boldest: 800;
}

/* ----------------------------------------------------------------------- */

.main-btn {
  padding: 10px 30px;
  background-color: bisque;
  transition: ease-in-out 0.5s;
}

.search-bar {
  /* background-color: orange; */
  width: 100%;
  text-align: center;
}

.search-input {
  /* background-color: rgb(38, 121, 65); */
  width: 500px;
}

.search-bar input {
  margin: 5px;
  width: 90%;
}

.menu-container {
  /* background-color: yellow; */
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 2.5rem;
  column-gap: 1rem;
  margin: 2rem;
  padding: 2rem;
}

.menu-header {
  /* background-color: rgb(255, 102, 0); */
  width: 100%;
  height: 20vh;
  flex-direction: column;
  margin-top: 2rem;
}

/*----------------------------  menu end ------------------------------ */

/*----------------------------sign in page start------------------------ */
.form-container {
  width: 500px;
  height: 500px;
  flex-direction: column;
  /* border: 2px solid black; */
}
.form-control-container {
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-control {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.form-btn {
  padding: 10px;
  background-color: salmon;
}
/* 

.labelline {
  position: absolute;
  margin: -10px 0 0 15px;
  background-color: white;
}

.my-input {
  outline: none;
  border: 1px solid rgb(177, 176, 176);
  padding: 20px;
  border-bottom: none;
}
.error {
  position: absolute;
  margin: 20px 0px 0px 20px;
  color: brown;
} */

/*---------------------------------sign in page end--------------------- */

/* header component */
.header-about {
  background-color: rgb(152, 197, 236);
}

.header-contact {
  background-color: rgb(117, 158, 98);
}

.header-menu {
  background-color: rgb(236, 209, 149);
}

/*---------------------------/contact start/---------------------------- */
.contact-container {
  display: flex;
}

.contact-img {
  width: 50%;
  /* background-color: salmon; */
}

.contact-img img {
  width: 100%;
  height: 100%;
}

.contact-info {
  width: 50%;
  flex-direction: column;
}

.contact-div {
  width: 300px;
}

.contact-div h2 {
  height: 35px;
  letter-spacing: 1px;
  border-bottom: 1px solid rgb(160, 160, 160);
  margin-bottom: 20px;
}

.contact-div p {
  /* border-bottom: 1px solid rgb(160, 160, 160); */
  font-weight: var(--font-lighter);
  height: 100px;
}
.contact-btn {
  background-color: yellow;
  /* height: 100%; */
}

.contact-btn button {
  width: 100%;
  padding: 10px 20px;
  background-color: salmon;
}

.contact-btn button a:hover {
  color: antiquewhite;
}

.contact-btn button a {
  color: black;
  text-decoration: none;
  transition: 0.5s ease;
}

/*----------------------------/contact end/---------------------------- */

/* ------------------------shared components--------------------- */

.header-container {
  width: 100%;
  height: 40vh;
}
.header {
  width: 95%;
  height: 30vh;
  margin: 20px;
  border-radius: 25px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary {
  width: 100px;
  padding: 10px;
  background-color: salmon;
}
/*-----------------cart----------------------*/

.empty-cart-container {
  position: absolute;

  /* text-align: center; */
}
.cart-container {
  position: relative;
  /* background-color: pink; */
  width: 100%;
  min-height: 90vh;
  max-width: auto;
  /* padding: 50px; */
  /* flex-direction: column; */
}

.cart-items {
  width: 50%;
  padding-top: 5%;
  /* background-color: yellow; */
  padding-bottom: 5%;
}

.cart-total-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  width: 50%;
  font-weight: var(--font-bold);
  /* background-color: orange; */
}

.cart-total{
  width: 80%;
  padding-left: 50px;
  padding-right: 50px;
}

.amount-box {
  /* background-color: yellow; */
  align-items: center;
  height: 250px;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}

.amount-box div{
  /* background-color: pink; */
  width: 100%;
}
.amount-box div:nth-child(3){
  border-bottom: 1px rgb(126, 126, 126) solid;
  margin-top: 20px;
margin-bottom: 50px;
}

.amount-box p:nth-child(1) {
  font-weight: var(--font-light);
}

.amount-box button {
  width: 300px;
  height: 50px;
  background-color:salmon;
  /* letter-spacing: 1px; */
  font-weight: var(--font-bold);
  color: black;
  border-radius: 5px;
  font-size: 16px;
}

/*---------------------------------------cart item---------------*/

.cart-item-wrapper {
}
.cart-item-container {
  width: 700px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(170, 163, 163);
}

.cart-item-counter {
  /* background-color: aqua; */
  flex-direction: column;
  width: 80px;
  font-size: 20px;
  /* padding: 5px; */
  border: 2px solid rgb(170, 163, 163);
  border-radius: 10px;
}
.cart-item-counter button {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  /* text-align: center; */
  color: rgb(172, 172, 172);
  font-size: 29px;
  cursor: pointer;
}

.cart-item-image {
  /* background-color: aqua; */
  /* border: 2px solid rgb(170, 163, 163); */
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: 150px;
}
.cart-item-image img {
  width: 100px;
}

.cart-item-details {
  width: 70%;
  padding-left: 20px;
  padding-top: 10px;
  /* background-color: rgb(188, 98, 98); */
}

.cart-item-details div:nth-child(1) {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: var(--font-bolder);
  letter-spacing: 1px;
}
.cart-item-details div:nth-child(2) {
  color: rgb(0, 0, 0);
  font-weight: var(--font-light);
}

.cart-item-close-btn button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(251, 181, 193);
  /* background: none; */
  outline: none;
  border: none;
  font-weight: var(--font-bold);
  /* margin-right: 5px; */
  cursor: pointer;
  font-size: 16px;
}

/*--------------------checkout-----------------------*/
.checkout-container {
  width: 500px;
  padding: 30px;
  margin: 30px;
  border-radius: 25px;
  background-color: white;
}

.checkout-btn {
  margin-top: 20px;
  padding: 10px;
  transition: ease-in 0.2s;
}

.cancel-btn:hover {
  background-color: rgb(211, 68, 68);
  color: aliceblue;
}
.order-btn:hover {
  background-color: rgb(120, 224, 128);
  /* color: aliceblue; */
}
