.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-sa {
  display: flex;
  justify-content: space-around;
}

.flex-se {
  display: flex;
  justify-content: space-evenly;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:focus {
  background-color: #fff;
  border: 2px solid black;
}

.link {
  text-decoration: none;
  color: antiquewhite;
}

.container {
  background-color: rgb(219, 219, 225);
  width: 100%;
  min-height: 90vh;
  max-height: auto;
}

a {
  text-decoration: none;
}
