@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* common */
.link {
  text-decoration: none;
  color: antiquewhite;
}

.btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* --------------------common end-------------------- */

/* components */
.card {
  position: relative;
  width: 250px;
  height: 300px;
  /* background-color: rgb(194, 116, 15); */
  flex-direction: column;
  border: 2px solid black;
  /* border-radius: 35px; */
}

.card-img {
  /* position: absolute; */
  /* left: 0;
  top: 0;
 */
  margin-top: -80px;
  width: 200px;
}
/* --------------------navbar start-------------------- */

.navbar {
  width: 100%;
  height: 100px;
  /* background-color: rgb(255, 225, 0); */
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}

.nav-icon {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-menu {
  width: 100%;
  /* background-color: green; */
  display: flex;
  justify-content: space-evenly;
}

.nav-list {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-btn {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
}

/* --------------------navbar ends-------------------- */

/* --------------------home page header start-------------------- */
.header-container {
  width: 100%;
  height: 75vh;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header-container {
  width: 90%;
  height: 60vh;
  background-color: yellow;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: beige; */
  padding-left: 3rem;
  line-height: 1.2;
}

.header-text h1 {
  font-size: 3rem;
  letter-spacing: 2px;

  /* margin-top: 3rem; */
}

.header-text p {
  margin-top: -40px;
}

.header-text button {
  width: 200px;
  padding: 20px 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: brown;
  border-radius: 35px;
  color: antiquewhite;
  /* box-shadow: 10px 10px 10px 0 rgba(233, 234, 174, 0.5); */
}

.header-img {
  width: 45%;
}
/* --------------------home page header end-------------------- */

/* --------------------home-page-popular-start-------------------- */
.popular-container {
  width: 100%;
  /* background-color: skyblue; */
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular-hdr-text {
  font-size: 2rem;
  letter-spacing: 2px;
}

.popular-btn {
  width: 500px;
  height: 50px;
  /* background-color: orange; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.main-btn {
  padding: 10px 16px;
  background-color: rgb(248, 142, 4);
  border-radius: 50px;
  transition: ease-in-out 0.5s;
}

/* .main-btn:hover {
  padding: 10px 30px;
  background-color: bisque;
  border-radius: 40px;
} */

.card-container {
  width: 100%;
  height: 70vh;
  /* background-color: midnightblue; */
}
/* --------------------home-page-popular-end-------------------- */

/* --------------------about page-------------------- */

.about-page {
  width: 100%;
  height: 300px;
}

.home-page {
  width: 100%;
  height: 300px;
}

/* sign in page */
.main {
  width: 100%;
  height: 70vh;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: antiquewhite;
}

/* menu start */
.menu-container {
  margin-top: 150px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 6rem;
}

/* menu end */

/* service start */
.service-container {
  width: 100%;
  height: 80vh;
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* service ends */

.footer-container {
  width: 100%;
  height: 250px;
  background: lightpink;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 1101;
  animation: slide-down 300ms ease-out forwards;
}

.form-container {
  width: 500px;
  height: 500px;
  /* background-color: blue; */
  flex-direction: column;
}

.form-page {
  width: 100%;
  height: 80vh;
  /* background-color: brown; */
}

.form-control-container {
  width: 300px;
  height: 200px;
  /* background-color: pink; */
  flex-direction: column;
}

.form-control {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.form-btn {
  border: none;
  outline: none;
  background: transparent;
  padding: 10px 30px;
  background-color: yellow;
}
